body{
    margin: 0%;
}
html{
    font-size: 100%;
}
#navbar{
    height:4rem;
    width:95rem;
    border: 1px solid rgb(97,99,104);
    display: flex;
    justify-content: space-between;
    opacity: 12;
}

#main1{
    display: flex;
    height: 4rem;
    width: 12rem;
}

#navbar img{
    height: 60%;
    width: auto;
    margin-left:1rem;
    margin-top:1rem;
}
#mainMenu img{
    height: 2rem;
    width: 2rem;
    border-radius:10px;
    margin-left: 2rem;
    padding-right: 2rem;
}
#mainMenu:hover{
    background-color:#ECEEF0; 
    border-radius: 200%;
}
#keepImg{
   margin-top: -4%;
   margin-left: -22%;
   
}
#keepText h2{
    margin-left: 20%;
    color: rgb(97,99,204);
}
.navSearchBar{
    height:2.5rem;
    width: 40rem;
    margin-top: .6rem;
    border-radius: 10px;
    margin-right:15rem;
    background-color: #ECEEF0;
    padding-left: 3rem;
    font-size: 2rem;
    font-weight: 500;
}
.btn{
    background-color: white;
    text-decoration: none;
}
#main2{
    display: flex;
    margin-right: 2%;
    
}
#refresh{
    margin-right: rem;
}
#setting{
    margin-right: rem;
}
#viewGrid{
    margin-right: rem;
}
#bigDiv{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

 #leftDiv{
    display: flex;
    flex-direction: column;
    width: 16rem;
    height:40em;
    /* margin-top: 2.5rem; */
} 
#leftDiv:hover{
  background-color: #ECEEF0;
  display: flex;
  visibility: visible;
}
#search{
    position: relative;
    top: -3.3rem;
    left: -.2rem;
}
#mid:hover{
    animation-name: animation;
    animation-duration: 2s;
}
.png{
    height: 2rem;
    width: 10rem;
    padding:.5rem 2.5rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius:10px ;
}
#notes{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    visibility: hidd;
}
#reminders{
    margin-top:1.5rem;
    display: flex;
    align-items: center;
    visibility: hidd;
}
#editLabels{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    visibility: hidd;
}
#archive{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    visibility: hidd;
}
#bin{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    visibility: hidd;
}
.text{
    margin: 1rem;
}
#text{
    margin-left: 1rem;
    color:#8AA2B8;
}
#bigDiv{
    min-width:95rem;
    width: 50rem;
}
#leftDiv:hover{
    visibility: visible;
}
.png:hover{
    background-color: rgb(242,243,244) ;
}
#rightDiv{
    display: flex;
    flex-direction: column;
    width: 80rem;  
}
#addDiv{
    height: 1rem;
    width: 1rem;
    margin-left: 1rem;
}
#rightDiv input{
    position: relative;
   height: 2.5rem;
   width: 35rem;
   border-radius: 10px;
   padding-left: 1rem;
   margin-top: 1.5rem;
   left: 10rem;
   background-color: #ECEEF0;
   font-size: 1rem;
   font-weight: 500;
}
input#text{
    width: 31.5rem;
}
.note{
    position: relative;
    height: 10rem;
    width: 35rem;
    border-radius: 10px;
    padding-left: 2rem;
    margin-top: 2.5rem;
    left: 34rem;
    bottom:35rem;
    background-color:white;
    font-size: 2rem;
    font-weight: 500; 
}
#addNote{
    position: relative;
    left: 6rem;
    bottom: -2.5rem;
    height:3rem;
    width:3rem;
    border-radius: 10px;
}
#textArea{
    position: relative;
    height: 3rem;
    max-width:35rem;
    min-width: 35rem;
    min-height: 6rem;
    border-radius: 10px;
    padding-right:1rem; 
    margin-top: 2.5rem;
    left: -13rem;
    background-color: #ECEEF0;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: text;
}
.edit{
    position: relative;
    left: -13rem;
    top: 2rem;
    border-radius: 10px;
}
.main{
    position: relative;
    height: 3rem;
    max-width: 35rem;
    min-width: 35rem;
    min-height: 6rem;
    border-radius: 10px;
    padding-right:1rem; 
    margin-top: 2.5rem;
    left: -13rem;
    background-color: #ECEEF0;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 500; 

}
.delete{
    position: relative;
    left: -13rem;
    top: 2rem;
    border-radius: 10px;
}
.hidden{
    display: none;
}
#icon{
    display: flex;
    float: right;
    position:relative ;
    top: -3rem;
    left: -1rem;
    height: rem;
}
.iconText{
    opacity: 0;
    color: black;
    position: relative;
    top:-2.3rem;
    height: 5rem;
    left: -.5rem;
    /* background-color: black; */
}
#refresh1:hover{
    opacity: 1;
}
#viewGrid1:hover{
    opacity: 1;
}
#setting1:hover{
    opacity: 1;
}
/* ---------------------------------------------------media queries---------------------------------------------------------------- */
  
  @media screen and (max-width:768px)
  {
    html{
        font-size: 40%;
    }
   
     .text{
        display: none;
    }
    
    #text{
        position: relative;
        top: 1rem;
        margin-left: 3rem;
        height: 4rem;
        font-size: 5rem;
        color:#8AA2B8;
        /* visibility: hidden; */
    }
    #textArea{
        height:100px;
        max-width:500px;
        min-width: 500px;
        min-height:100px;
        padding-right:2rem; 
        margin-top: 3.5rem;
        font-weight: 500;
        padding-left: 1rem;
        font-size: 3rem;
        font-weight: 500;
    }
    .main{
        height:100px;
        max-width:500px;
        min-width: 500px;
        min-height:100px;
        padding-right:2rem; 
        margin-top: 3.5rem;
        font-weight: 500;
        padding-left: 1rem;
        font-size: 3rem;
        font-weight: 500; 
    }
    #main2{
    
        margin: 1%;
    }
    .navSearchBar{
        height: 6.5rem;
        width: 63rem;
        margin-top: 0.4rem;
        margin-right: -13rem;
        padding-left: 5rem;
        font-size: 5rem;
    }
    #search{
        position: relative;
        top: -6.3rem;
        left: -0.2rem;
    }
    #keepText{
        position: relative;
        top: rem;
    }
    #keepText{
        font-size: 2rem;
    }
    #bigDivText input{
        height:5rem;
        width: 73rem;
        position: relative;
        top: -10.1rem;
        margin-left:4rem; 
        font-size: 3rem;
    }
    #leftDiv
    {
        width: 11rem;
        height: 40rem;
        margin-top: -0.5rem;
    }
     .png img{
        margin-top: 2rem;
        padding: 10rem 0rem;
        height: 7rem;
        width: 7rem;
    } 
    #notes{
        margin-top: 5rem;
        
    }
    #reminders{
        margin-top:5rem;
        
        
    }
    #editLabels{
        margin-top:5rem;
        
        
    }
    #archive{
        margin-top:5rem;
    
        
    }
    #bin{
        margin-top:5rem;
        
        
    }
    #addDiv{
        height:9rem;
        width:13rem;
        position: relative;
        left: -14rem;
        margin-left:16rem;
        margin-top:3rem;
    }
    #rightDiv{
        width: 99rem;
        height: 40rem;
    }
    #bigDivText{
        height:5rem;
        width:73rem
        position: relative;
        left: -3rem;
        top:-10.1rem;
    }
    #navbar{
         height: 8rem;
         width:109rem;

    }
    #main1{
        height: 8rem;
        width: 9rem;
    }
    .note{
        position: relative;
        height: 12rem;
        width: 61rem;
        padding-left: 0rem;
        left: 28rem;
        margin-top: 15rem;
        top:-45rem;
         
    } 
    #addNote{
        height: 6rem;
        width: 6rem;
        position:relative;
        left:1rem;
        top: -.25rem;
      }
    #mainMenu img{
        height: 6rem;
        width: 6rem;
        margin-left: 2rem;
        padding-right: 1rem;
    }
    
    
  } 
